# Ignorar o arquivo de variáveis de ambiente
    .env

    # Ignorar a pasta do banco de dados vetorial processado
    /vector_store/

    # Ignorar arquivos de cache do Python
    __pycache__/
    *.pyc